<div class="text-center mt-3">
  <h2>Your matches - {{ pagination?.totalItems || 0 }} found</h2>
</div>

<div class="container mt-3">
  <form
    class="d-flex mb-3"
    #form="ngForm"
    (ngSubmit)="loadMembers()"
  >
    <div class="d-flex mx-2">
      <label class="col-form-label me-2" for="minAge">Age from:</label>
      <input
        type="number"
        class="form-control"
        style="width: 70px"
        id="minAge"
        name="minAge"
        [(ngModel)]="userParams.minAge"
        placeholder="Age from"
      />
    </div>
    <div class="d-flex mx-2">
      <label class="col-form-label me-2" for="maxAge">Age to:</label>
      <input
        type="number"
        class="form-control"
        style="width: 70px"
        id="maxAge"
        name="maxAge"
        [(ngModel)]="userParams.maxAge"
        placeholder="Age from"
      />
    </div>
    <div class="d-flex mx-2">
      <label class="col-form-label me-2" for="gender">Show:</label>
      <select
        class="form-select"
        style="width: 130px"
        id="gender"
        name="gender"
        [(ngModel)]="userParams.gender"
      >
        <option *ngFor="let gender of genderList" [value]="gender.value">
          {{ gender.display }}
        </option>
      </select>
    </div>
    <div class="d-flex mx-2">
      <button type="submit" class="btn btn-primary me-1">Apply Filters</button>
      <button type="button" class="btn btn-info" (click)="resetFilters()">
        Reset Filters
      </button>
    </div>
    <div class="col-lg-4">
      <div class="btn-group float-end">
        <label
          class="btn btn-primary"
          name="orderBy"
          [(ngModel)]="userParams.orderBy"
          (click)="loadMembers()"
          btnRadio="lastActive"
          >Last Active</label
        >
        <label
          class="btn btn-primary"
          name="orderBy"
          [(ngModel)]="userParams.orderBy"
          (click)="loadMembers()"
          btnRadio="created"
          >Newest Members</label
        >
      </div>
    </div>
  </form>
</div>

<div class="row mt-3">
  <div class="col-2" *ngFor="let member of members">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>
<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
